<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF to Zip Converter</title>
</head>
<body>
<h1>PDF to Zip Converter</h1>
<form action="/zip-files" method="post">
    <label for="urlArray">PDF URLs (comma-separated):</label>
    <input type="text" id="urlArray" name="urlArray" required>
    <button type="submit">Convert to Zip</button>
</form>
</body>
</html>
